.shop-container{
    display: flex;
}
.product-container{
    margin-left: 5% ;
    margin-right: 1%;
    width: 75%;
    border-right: 1px solid lightgray;
    padding: 1%;

}
.cart-container{
    margin-left: 1%;
    height: 1%;
}